<ul class="alert alert-danger" *ngIf="errors?.length > 0">
    <li *ngFor="let error of errors">
        {{error}}
    </li>
</ul>
<div class="card bg-dark text-white">
    <div class="card-header"> {{title}} </div>
    <div class="card-body">
        <form #clientForm="ngForm">
            <div class="form-group row">
                <label for="name" class="col-form-label col-sm-2">Name:</label>
                <div class="col-sm-6">
                    <input type="text" name="name" class="form-control" [(ngModel)]="client.name" required minlength="4" #name="ngModel">
                    <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors.required">
                            The name is required.
                        </div>
                        <div *ngIf="name.errors.minlength">
                            The name must be at least 4 characters long.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="surname" class="col-form-label col-sm-2">Surname:</label>
                <div class="col-sm-6">
                    <input type="text" name="surname" class="form-control" [(ngModel)]="client.surname" required #surname="ngModel">
                    <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors.required">
                            The surname is required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email:</label>
                <div class="col-sm-6">
                    <input type="text" name="email" class="form-control" [(ngModel)]="client.email" required email #email="ngModel">
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            The email is required.
                        </div>
                        <div *ngIf="email.errors.email">
                            The email is not valid.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="createAt" class="col-form-label col-sm-2">Create At:</label>
                <div class="col-sm-6">
                    <input [matDatepicker]="picker" name="createdAt" class="form-control" [(ngModel)]="client.createdAt" required #createdAt="ngModel" style="display:inline; width: 300px;">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <div class="alert alert-danger" *ngIf="createdAt.invalid && (createdAt.dirty || createdAt.touched)">
                        <div *ngIf="createdAt.errors.required">
                            The date at is required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!client.id else elseBlock" [disabled]="!clientForm.form.valid">Create</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clientForm.form.valid">Update</button>
                    </ng-template>
                </div>
            </div>

        </form>
    </div>
</div>